<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- customersize css -->
  <link rel="stylesheet" href="static/style.css">
  <title>FLASK BANK</title>

</head>
<body>

  <!-- child template -->
  {% block content %}{% endblock %}

  <!-- error message -->
  {% if error %}
  <p class="error" align="center"><strong>Error: </strong>{{ error }}</p>
  {% endif %}

  <!-- flash message -->
  {% for message in get_flashed_messages() %}
  <p align="center">{{ message }}</p>
  {% endfor %}


  <!-- toTop -->
  <div class="elevator-wrapper"></div>

  <!-- footer -->
  <footer class="footer  navbar-fixed-bottom">
    <div class="container">
      <p class="text-muted" align="center" style="margin: 50px 0; color: #003366;">
        &copy;
        <script>document.write(new Date().getFullYear())</script>
        Flask Bank. All Rights Reserved.
      </p>
    </div>
  </footer>

</body>
</html>
